.room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 66.4px);
}

.layout-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.video-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
  /* transition: border 0.3s ease; */
}

.video-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.room-page .item-list {
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.item-list h3 {
  margin: 10px 0;
}

.item-list ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.item-list li {
  max-width: 85%;
  padding: 0 10px;
  margin-bottom: 10px;
}

.item-list img {
  max-width: 100%;
  border-radius: 4px;
}

.item-list button {
  background-color: transparent;
  border: none;
}

.item-list button:hover {
  color: #000dff;
}

.drop-area {
  background-color: #e0e0e0;
  border: 2px dashed #bbb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}

.drop-area .add-item {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.drop-area p {
  margin-bottom: 10px;
}

.drop-area ul {
  list-style: none;
  padding: 0;
}

.drop-area ul li {
  margin-top: 5px;
}
